html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: #d6d6d6;
  text-align: center;
}

#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  background-color: #181818;
  z-index: 20;
}

.nav-list {
  display: flex;
  margin: 10px auto;
}

li:last-child {
  border: 1px solid #bbb;
  border-radius: 30px;
  margin: 0 0 0 100%;
}

.nav-list a {
  display: block;
  padding: 1rem;
}

.nav-list a:hover {
  background: #bbb;
  border-radius: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

#welcome-section {
  height: 100vh;
}

#name {
  text-align: center;
  margin: 300px auto 0;
  font-size: 80px;
}

#front-end {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  color: grey;
}

#graphic-designer {
  font-size: 40px;
  margin: 10px auto 16px;
  color: grey;
}

#project-button {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  border: 0;
  padding: 20px;
  transition-duration: 200ms;
}

#project-button:hover {
  background-color: blue;
}

.logos {
  max-width: 40px;
}

.project-tile {
  margin: 0 auto;
  width: 400px;
  display: block;
}

.project-button {
  margin: 10px auto;
  border-radius: 20px;
  border: 0;
  padding: 20px;
  background-color: purple;
}

footer {
  background-color: rgb(46, 45, 45);
  padding: 10px;
}

@media (max-width: 400px) {
  html {
    font-size: 60%;
  }
} /* To delete later */
